//header
.container__header{
  top: 0;
}

//navbar
.nav{
  li{
    font-family: $base-font-family;
    display: none;
    padding: $base-grid/4;
    
  }
  a{
    color: $color-white;
    font-size: 50px;
  }
  h1{
    padding: $base-grid;
  }
 }
.navbar-nav{
  z-index: 5;
  position: relative;
  float: right;
  display: none;
  @include desktop{
    overflow: show;
    float: right;
    top: 0;
    li{
      display: inline;
    }
    
  }
  @include tablet{
    .navbar-nav{
      height: 5vh;
    }
    li{
      display: inline;
    }
    .navbar-toggler{
      display: none;
    }
  }
  .navbar-brand{
    position: relative;
    display: inline;
    padding: $base-grid;
    margin-left: $base-grid;
    margin-right: $base-grid;
    a{
      font-size: $base-font-size-lg*2;
      @include hover{
        color: $color-white;
      }
      img{
        padding: $base-grid;
        margin-left: $base-grid;
        margin-right: $base-grid;
      }
    }
  }
  a{
    color: $color-white-54;
    font-family: $base-font-family;
    font-size: $base-font-size;
    padding: $base-grid/3;
    &:hover{
      color: $color-primary;
    }
  }
  }

//nav-sidebar
.nav-sidebar{
  position: absolute;
  z-index: 99;
  background: $color-black;
  float: right;
  clear: right;
  right: -70%;
  margin-top: 0;
  transform: translateY(-1%);
  
  ul{
    display: block;
    li{
      padding: $base-grid;
      a{
        font-size: $base-font-size-lg*2;
      }
    }
  }
  @include desktop{
    opacity: 0;
    left: 100%;
  }
}
  
  .site-logo{
    a{
      font-size: $base-font-size-lg*2;
      text-align: center;
      padding: $base-grid;
    }
    @include desktop{
      h1{
        font-weight: 300;
      }
      a{
        font-size: $base-font-size-lg;
        float: left;
        font-size: $base-font-size-lg;
      }
    }
  }
  .nav-toggle{
    color: $color-white;
    font-size: 72px;
    border-color: $color-white;
    height: $base-grid*3;
    width: $base-grid*3;
    position: relative;
    z-index: 999;
    float: right;
    margin-top: $base-grid*1.5;
    margin-right: $base-grid;
    bottom: $base-grid;
    transition: 0.2s;
    cursor: pointer;
    a{
      font-size: $base-font-size-lg;
    }

    
    @include desktop{
      display: none;
    }
  }


