*{
    box-sizing: border-box;
    margin-top: 0;
}
// $colors: (
//     primary: #250d33,
//     secondary: #ef6249

// );

$padding: 15px;

// @function color($color-name){
//     @return map-get($map: $colors, $key: $color-name)
// }

$desktop: 768px;
$tablet: 600px;

@mixin desktop{
    @media (min-width: #{$desktop}){
        @content;
    }
}

@mixin tablet{
    @media (min-width: #{$tablet}){
        @content;
    }
}

body, html {
    height: 100%;
}

body{
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;

    .navbar{
        background-color: #250d33;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        z-index: -1;
        opacity: 0.9;
        color: #fff;
        @include desktop{
            z-index: 3;
            opacity: .8;
        }

    }
    .navbar h1 a{
        color: #fff;
        text-decoration: none;
        padding: $padding;
        display: block;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        @include desktop{
            padding: 0px;
            position: relative;
            z-index: 2;
            float: left;
            margin-left: 5%;
            margin-top: 1%;
            color:#fff;
            
        }
        @include tablet{
            margin-left: 0px;
        }

    }
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    @include desktop{
        text-align: right;
        position: absolute;
        height: 8vh;
        right: 0;
        // list-style: none;
        padding: 0;
        background: #250d33;
    }
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    // color: #818181;
    color: #fff;
    display: block;
    transition: 0.3s;
    @include desktop{
        display: inline-block;  
        // color: rgba(255, 255, 255, 0.5);
        color: red;
        padding: 0.75em 1em !important;
        font-weight: normal;
        border-left: none;
        border-top: none;
        border-top: none;
        text-decoration: none;
        zoom: 1;
        font-size: 14px;
        border-bottom: none !important;
        margin-top: 1%;
    }
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    @include desktop{
        margin-left: 0px;
        position: relative;
    }
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
// .menu
// {
//     float: right;
//     line-height: 100px;
//     list-style-type: none;
    
//     @include desktop{
//         text-align: right;
//     }
// }
// .menu a {
//     color: #fff;
//     text-transform: uppercase;
//     text-decoration: none;
//     padding: 0 10px;
    
// }
.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    // color: #fff;
    @include desktop{
        visibility: hidden;
        display: none;
    }
}
.show-menu-btn i{
    line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #ef6249;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.show-menu-btn{
    display: block;
    float: right;
}
.menu-list{
    list-style: none;
    @include desktop{
        margin-right: 10%;
        margin-top: 2%;
    }
    @include tablet{
        margin-right: 0px;
    }
}
.menu{
    position: fixed;
    width: 60%;
    height: 100vh;
    background: #111;
    right: -100%;
    top: 0;
    text-align: left;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    
    @include desktop{
        text-align: right;
        position: absolute;
        height: 10vh;
        width: 100%;
        right: 0;
        padding: 0;
        background: #250d33;
        // background: rgb(31, 1, 48);
        // opacity: .9;
    }
}
.menu a{
    display: block;
    padding: 10px;  
    color: #fff;
    text-decoration: none;
    
    @include desktop{
        display: inline-block;
        // color: rgba(255, 255, 255, 0.5);
        padding: 0.75em 1em !important;
        font-weight: normal;
        border-left: none;
        border-top: none;
        zoom: 1;
        font-size: 14px;
        border-bottom: none !important;
    }
}
// .dropdown:hover .dropbtn {
//     @include desktop{
//         background-color: red;
//     }
//   }
.dropdown-content {
    list-style: none;
    margin-left: 15%;
    @include desktop{
        
    display: none;
    margin-left: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
  }
  
/* Dropdown Button */
.dropbtn {
    @include desktop{
        // background-color: #4CAF50;
        // color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    @include desktop{
        position: relative;
        display: inline-block;
    }
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    list-style: none;
    margin-left: 15%;
      @include desktop{
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 5px;
        z-index: 2;
      }
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    @include desktop{
        color: black;
        padding: 12px 16px;
        text-align: left;
        text-decoration: none;
        display: block;
    }
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    @include desktop{
        background-color: #fff;
    }
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    @include desktop{
        display: block;
    }
}
.hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;

}
#chk:checked ~ .menu{
    right: 0;
}
.main_content{
    padding: 0 20px;
    @include desktop{
    }
}
.main_content p{
    text-align: justify;

    @include desktop{
        text-align: left;
    }
}
.content__sect{
    @include desktop{
        position: relative;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 8%;
        z-index: -1;
    }
}
.history{
    padding: 0 15px 16px;
    
    @include desktop{
        p{
            text-align: center;
        }

    
        
    }
}
.about-img img{
    height: 20vh; 
    width: 100%;
    background-attachment: fixed; 
    overflow: hidden; 
    // background-image:  linear-gradient(rgba(74,49,56,0.60),rgba(1,10,30,0.60)), url(headerp.jpeg); 
    background-repeat: no-repeat; 
    background-position: center;

    @include desktop{
        width: 100%;
        height: 100%;
        // float: right;
    }
}

.abt__subsect div{
    border-bottom: #333 solid 3px;
    @include desktop{
        border-bottom: 0px;
    }
}

.abt__subsect2 div{
    border-bottom: #333 solid 3px;
    @include desktop{
        border-bottom: 0px;
    }
}
.abt__subsect{
    p{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    @include desktop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8px;

    
    }
    
}.abt__subsect2{
    p{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    @include desktop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;

    
    }
    
}
bg-img{
    background: transparent;
}
.fxd-img{
    height: 50vh; 
    width: 100%;
    background-attachment: fixed; 
    overflow: hidden; 
    z-index: 3; 
    background-image:  linear-gradient(rgba(74,49,56,0.60),rgba(1,10,30,0.60)), url(headerf.jpeg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    @include desktop{
        background-image:  linear-gradient(rgba(74,49,56,0.60),rgba(1,10,30,0.60)), url(headerf.jpeg); 

    }
}
.fxd p{
    padding: 50px;
}
.vision div{
    margin-bottom: 10%;
}
.team{
    @include desktop{
        padding: 50px;
        display: grid; grid-template-columns: repeat(5,1fr); 
        grid-gap: 10px;
    }
}
.team div{
    align-content: center;
    margin: 0 20px 30px;

    @include desktop{
        margin:0;
    }
}
.team div img{
    height: 30vh;
    width: 100%;
    margin: 0 0 5%;

    @include desktop{
        height: 20vh;
    }
}
.team h5{
    font-size: 15px;
    text-align: center;
}
#content-info h2{

    text-align: center;
    margin:10% 0 10%;
}
.main_content h3{
    text-align: center;
    margin:5% 0 5%;

    @include desktop{
    }
}
.footer{
    background-color: rgba(0, 0, 0, 0.87);
    // padding: $padding;
    padding-top: 80px;
    padding-bottom: 20px;
    
    @include desktop{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    
    }
    
}
.footer h3{
    color: #ef6249;
    // color: rgba(255, 255, 255, 0.54) !important;
    text-align: center;
    
}
.footer p{
    color: rgba(255, 255, 255, 0.54) !important;
    text-align: center;
    
}
.church_acts{
    margin-top: 40px;
}
 
.joinbtn{
    display: flex;
    justify-content: center;
    padding: $padding;
    @include desktop{

    }
}
.joinbtn button{
    color: #fff;
    font-size: 18px;
    background-color: #ef6249;
    border-radius: 12%;
    height: 6vh;
    width: 100px;
}
.reserve{
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    // float: left;
}
.reserve p{
    text-align: center;
    color: rgba(255, 255, 255, 0.54) !important;

}
// @media screen and (min-width:800px){
//    .show-menu-btn{
//         display: block;
//         visibility: hidden;
//    }
//    .menu{
//        position: fixed;
//        width: 100%;
//        height: 100vh;
//        background: #333;
//        right: -100%;
//        top: 0;
//        text-align: center;
//        padding: 80px 0;
//        line-height: normal;
//        transition: 0.7s;
//    }
//    .menu a{
//        display: block;
//        padding: 20px;
//    }
//    .hide-menu-btn{
//        position: absolute;
//        top: 40px;
//        right: 40px;

//    }
//    #chk:checked ~ .menu{
//        right: 0;
//    }
// }
