* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0;
}

body, html {
  height: 100%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
}

body .navbar {
  background-color: #250d33;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  z-index: -1;
  opacity: 0.9;
  color: #fff;
}

@media (min-width: 768px) {
  body .navbar {
    z-index: 3;
    opacity: .8;
  }
}

body .navbar h1 a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  body .navbar h1 a {
    padding: 0px;
    position: relative;
    z-index: 2;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    color: #fff;
  }
}

@media (min-width: 600px) {
  body .navbar h1 a {
    margin-left: 0px;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

@media (min-width: 768px) {
  .sidenav {
    text-align: right;
    position: absolute;
    height: 8vh;
    right: 0;
    padding: 0;
    background: #250d33;
  }
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .sidenav a {
    display: inline-block;
    color: red;
    padding: 0.75em 1em !important;
    font-weight: normal;
    border-left: none;
    border-top: none;
    border-top: none;
    text-decoration: none;
    zoom: 1;
    font-size: 14px;
    border-bottom: none !important;
    margin-top: 1%;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (min-width: 768px) {
  .sidenav .closebtn {
    margin-left: 0px;
    position: relative;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-right .5s;
  transition: margin-right .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.show-menu-btn, .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
}

@media (min-width: 768px) {
  .show-menu-btn, .hide-menu-btn {
    visibility: hidden;
    display: none;
  }
}

.show-menu-btn i {
  line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #ef6249;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.show-menu-btn {
  display: block;
  float: right;
}

.menu-list {
  list-style: none;
}

@media (min-width: 768px) {
  .menu-list {
    margin-right: 10%;
    margin-top: 2%;
  }
}

@media (min-width: 600px) {
  .menu-list {
    margin-right: 0px;
  }
}

.menu {
  position: fixed;
  width: 60%;
  height: 100vh;
  background: #111;
  right: -100%;
  top: 0;
  text-align: left;
  padding: 80px 0;
  line-height: normal;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (min-width: 768px) {
  .menu {
    text-align: right;
    position: absolute;
    height: 10vh;
    width: 100%;
    right: 0;
    padding: 0;
    background: #250d33;
  }
}

.menu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu a {
    display: inline-block;
    padding: 0.75em 1em !important;
    font-weight: normal;
    border-left: none;
    border-top: none;
    zoom: 1;
    font-size: 14px;
    border-bottom: none !important;
  }
}

.dropdown-content {
  list-style: none;
  margin-left: 15%;
}

@media (min-width: 768px) {
  .dropdown-content {
    display: none;
    margin-left: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

/* Dropdown Button */
@media (min-width: 768px) {
  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }
}

/* The container <div> - needed to position the dropdown content */
@media (min-width: 768px) {
  .dropdown {
    position: relative;
    display: inline-block;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  list-style: none;
  margin-left: 15%;
}

@media (min-width: 768px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 2;
  }
}

/* Links inside the dropdown */
@media (min-width: 768px) {
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
  }
}

/* Change color of dropdown links on hover */
@media (min-width: 768px) {
  .dropdown-content a:hover {
    background-color: #fff;
  }
}

/* Show the dropdown menu on hover */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.hide-menu-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

#chk:checked ~ .menu {
  right: 0;
}

.main_content {
  padding: 0 20px;
}

.main_content p {
  text-align: justify;
}

@media (min-width: 768px) {
  .main_content p {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .content__sect {
    position: relative;
    padding: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 8%;
    z-index: -1;
  }
}

.history {
  padding: 0 15px 16px;
}

@media (min-width: 768px) {
  .history p {
    text-align: center;
  }
}

.about-img img {
  height: 20vh;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .about-img img {
    width: 100%;
    height: 100%;
  }
}

.abt__subsect div {
  border-bottom: #333 solid 3px;
}

@media (min-width: 768px) {
  .abt__subsect div {
    border-bottom: 0px;
  }
}

.abt__subsect2 div {
  border-bottom: #333 solid 3px;
}

@media (min-width: 768px) {
  .abt__subsect2 div {
    border-bottom: 0px;
  }
}

.abt__subsect p {
  text-align: center;
}

.abt__subsect h3 {
  text-align: center;
}

@media (min-width: 768px) {
  .abt__subsect {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }
}

.abt__subsect2 p {
  text-align: center;
}

.abt__subsect2 h3 {
  text-align: center;
}

@media (min-width: 768px) {
  .abt__subsect2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

bg-img {
  background: transparent;
}

.fxd-img {
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 49, 56, 0.6)), to(rgba(1, 10, 30, 0.6))), url(headerf.jpeg);
  background-image: linear-gradient(rgba(74, 49, 56, 0.6), rgba(1, 10, 30, 0.6)), url(headerf.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .fxd-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(74, 49, 56, 0.6)), to(rgba(1, 10, 30, 0.6))), url(headerf.jpeg);
    background-image: linear-gradient(rgba(74, 49, 56, 0.6), rgba(1, 10, 30, 0.6)), url(headerf.jpeg);
  }
}

.fxd p {
  padding: 50px;
}

.vision div {
  margin-bottom: 10%;
}

@media (min-width: 768px) {
  .team {
    padding: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
}

.team div {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 20px 30px;
}

@media (min-width: 768px) {
  .team div {
    margin: 0;
  }
}

.team div img {
  height: 30vh;
  width: 100%;
  margin: 0 0 5%;
}

@media (min-width: 768px) {
  .team div img {
    height: 20vh;
  }
}

.team h5 {
  font-size: 15px;
  text-align: center;
}

#content-info h2 {
  text-align: center;
  margin: 10% 0 10%;
}

.main_content h3 {
  text-align: center;
  margin: 5% 0 5%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.87);
  padding-top: 80px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.footer h3 {
  color: #ef6249;
  text-align: center;
}

.footer p {
  color: rgba(255, 255, 255, 0.54) !important;
  text-align: center;
}

.church_acts {
  margin-top: 40px;
}

.joinbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.joinbtn button {
  color: #fff;
  font-size: 18px;
  background-color: #ef6249;
  border-radius: 12%;
  height: 6vh;
  width: 100px;
}

.reserve {
  background-color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reserve p {
  text-align: center;
  color: rgba(255, 255, 255, 0.54) !important;
}
/*# sourceMappingURL=aboutus.css.map */