/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Start Vanilla CSS 1.0.2 
 */
/* line 4, ../sass/sass_files/_generic.scss */
body {
  font: 9pt/1.5em sans-serif;
}

/* line 7, ../sass/sass_files/_generic.scss */
pre, code, tt {
  font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;
}

/* line 10, ../sass/sass_files/_generic.scss */
h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

/* line 13, ../sass/sass_files/_generic.scss */
em, i, dfn {
  font-style: italic;
}

/* line 16, ../sass/sass_files/_generic.scss */
dfn {
  font-weight: bold;
}

/* line 19, ../sass/sass_files/_generic.scss */
p, code, pre, kbd {
  margin: 0 0 1.5em 0;
}

/* line 22, ../sass/sass_files/_generic.scss */
blockquote {
  margin: 0 1.5em 1.5em 1.5em;
}

/* line 25, ../sass/sass_files/_generic.scss */
cite {
  font-style: italic;
}

/* line 28, ../sass/sass_files/_generic.scss */
li ul, li ol {
  margin: 0 1.5em;
}

/* line 31, ../sass/sass_files/_generic.scss */
ul, ol {
  margin: 0 1.5em 1.5em 1.5em;
}

/* line 34, ../sass/sass_files/_generic.scss */
ul {
  list-style-type: disc;
}

/* line 37, ../sass/sass_files/_generic.scss */
ol {
  list-style-type: decimal;
}

/* line 40, ../sass/sass_files/_generic.scss */
ol ol {
  list-style: upper-alpha;
}

/* line 43, ../sass/sass_files/_generic.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 46, ../sass/sass_files/_generic.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 49, ../sass/sass_files/_generic.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 52, ../sass/sass_files/_generic.scss */
dl dt {
  font-weight: bold;
}

/* line 55, ../sass/sass_files/_generic.scss */
dd {
  margin-left: 1.5em;
}

/* line 58, ../sass/sass_files/_generic.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 62, ../sass/sass_files/_generic.scss */
th {
  font-weight: bold;
}

/* line 65, ../sass/sass_files/_generic.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 68, ../sass/sass_files/_generic.scss */
tfoot {
  font-style: italic;
}

/* line 71, ../sass/sass_files/_generic.scss */
sup, sub {
  line-height: 0;
}

/* line 74, ../sass/sass_files/_generic.scss */
abbr, acronym {
  border-bottom: 1px dotted;
}

/* line 77, ../sass/sass_files/_generic.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 81, ../sass/sass_files/_generic.scss */
del {
  text-decoration: line-through;
}

/* line 84, ../sass/sass_files/_generic.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 88, ../sass/sass_files/_generic.scss */
img.centered, .aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 93, ../sass/sass_files/_generic.scss */
img.alignright {
  display: inline;
}

/* line 96, ../sass/sass_files/_generic.scss */
img.alignleft {
  display: inline;
}

/* line 99, ../sass/sass_files/_generic.scss */
.alignright {
  float: right;
  margin-left: 10px;
}

/* line 103, ../sass/sass_files/_generic.scss */
.alignleft {
  float: left;
  margin-right: 10px;
}

/* line 107, ../sass/sass_files/_generic.scss */
img {
  max-width: 100%;
}

/* line 110, ../sass/sass_files/_generic.scss */
* html .clearfix {
  height: 1%;
}

/* line 113, ../sass/sass_files/_generic.scss */
* + html .clearfix {
  display: inline-block;
}

/* line 116, ../sass/sass_files/_generic.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 123, ../sass/sass_files/_generic.scss */
* html .group {
  height: 1%;
}

/* line 126, ../sass/sass_files/_generic.scss */
* + html .group {
  display: inline-block;
}

/* line 129, ../sass/sass_files/_generic.scss */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
* End Vanilla CSS
*/
/* line 1, ../sass/sass_files/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/sass_files/_base.scss */
html {
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation;
}

/* line 12, ../sass/sass_files/_base.scss */
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

/* line 22, ../sass/sass_files/_base.scss */
h1 {
  font-size: 24px;
}

/* line 23, ../sass/sass_files/_base.scss */
h2 {
  font-size: 24px;
}

/* line 24, ../sass/sass_files/_base.scss */
h3 {
  font-size: 14px;
}

/* line 25, ../sass/sass_files/_base.scss */
h4 {
  font-size: 14px;
}

/* line 26, ../sass/sass_files/_base.scss */
h5 {
  font-size: 12px;
}

/* line 27, ../sass/sass_files/_base.scss */
h6 {
  font-size: 12px;
}

/* line 31, ../sass/sass_files/_base.scss */
a {
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  font-size: 16.8px;
}

/* line 39, ../sass/sass_files/_base.scss */
a:hover {
  text-decoration: none !important;
  color: #250d33 !important;
}

/* line 44, ../sass/sass_files/_base.scss */
ul, ol {
  margin: 1.5em;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  display: inline;
}
/* line 51, ../sass/sass_files/_base.scss */
ul li, ol li {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 12px;
}
/* line 59, ../sass/sass_files/_base.scss */
ul p, ol p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  margin: 24px 28.8px 28.8px 28.8px !important;
}

/* line 68, ../sass/sass_files/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Roboto", sans-serif;
}

/* line 73, ../sass/sass_files/_base.scss */
span {
  padding: 24px;
}

/* line 2, ../sass/sass_files/_objects.scss */
.container {
  top: 0;
}

/* line 7, ../sass/sass_files/_objects.scss */
.nav {
  float: right;
}

/* line 10, ../sass/sass_files/_objects.scss */
#fh5co-menu-wrap {
  top: 0;
  width: 100%;
  position: fixed !important;
  background: #250d33;
  opacity: 0.9;
  height: 12vh !important;
  z-index: 999 !important;
}
/* line 19, ../sass/sass_files/_objects.scss */
#fh5co-menu-wrap a {
  color: #ef6249 !important;
}

/* line 23, ../sass/sass_files/_objects.scss */
.navbar-nav {
  position: absolute !important;
  float: right;
}

/* line 29, ../sass/sass_files/_objects.scss */
.sf-menu {
  float: right;
}
/* line 31, ../sass/sass_files/_objects.scss */
.sf-menu li {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 6px;
}

/* line 39, ../sass/sass_files/_objects.scss */
.d-inline-block a {
  color: #fff !important;
}

/* line 44, ../sass/sass_files/_objects.scss */
.navbar-toggler {
  margin-left: 300px !important;
  color: #ef6249 !important;
  border-color: #fff !important;
  border-bottom: #fff !important;
  position: absolute !important;
  z-index: 9999 !important;
}

/* line 2, ../sass/sass_files/_components.scss */
.container__header {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}

/* line 10, ../sass/sass_files/_components.scss */
.nav-header {
  position: absolute;
}
/* line 12, ../sass/sass_files/_components.scss */
.nav-header nav {
  float: right;
}
/* line 14, ../sass/sass_files/_components.scss */
.nav-header nav ul {
  display: inline-block;
}

/* line 20, ../sass/sass_files/_components.scss */
#fh5co-primary-menu {
  display: inline-block;
}

/* line 25, ../sass/sass_files/_components.scss */
.header_img {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/img 3.jpg");
  background-position: center;
  background-size: cover;
}

/* line 35, ../sass/sass_files/_components.scss */
.ministry__content {
  padding: 50px;
  margin: 0 auto;
  font-size: 16.8px;
  width: 100%;
}
@media (min-width: 1024px) {
  /* line 35, ../sass/sass_files/_components.scss */
  .ministry__content {
    width: 50%;
  }
  /* line 43, ../sass/sass_files/_components.scss */
  .ministry__content p {
    font-size: 24px;
  }
}
/* line 48, ../sass/sass_files/_components.scss */
.ministry__content .col-sm img {
  padding: 24px;
}
/* line 53, ../sass/sass_files/_components.scss */
.ministry__content h2 {
  padding: 12px;
  text-align: center !important;
  font-style: normal !important;
  font-weight: 350 !important;
}
/* line 59, ../sass/sass_files/_components.scss */
.ministry__content p {
  text-align: center !important;
}
@media (min-width: 1024px) {
  /* line 59, ../sass/sass_files/_components.scss */
  .ministry__content p {
    margin: 0 auto;
    font-size: 26.4px;
    line-height: 1em;
  }
}

/* line 70, ../sass/sass_files/_components.scss */
.row__activities {
  margin: 0 auto;
  display: block;
}

/* line 77, ../sass/sass_files/_components.scss */
.container__gallery {
  margin: 0 auto;
  padding: 24px;
  display: inline-block;
}
/* line 83, ../sass/sass_files/_components.scss */
.container__gallery h2 {
  padding: 28.8px;
  text-align: center;
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
}
/* line 90, ../sass/sass_files/_components.scss */
.container__gallery h3 {
  padding: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
}

@media (min-width: 1024px) {
  /* line 99, ../sass/sass_files/_components.scss */
  .row__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  /* line 104, ../sass/sass_files/_components.scss */
  .row__gallery h3 {
    font-size: 24px;
  }
}

/* line 110, ../sass/sass_files/_components.scss */
.join_btn {
  position: absolute;
  left: 50% !important;
  margin-left: -30px !important;
}

/* line 116, ../sass/sass_files/_components.scss */
.btn-primary__join {
  padding: 6.85714px !important;
  margin: 0 auto !important;
  color: #fff !important;
  background: #ef6249 !important;
  border: transparent !important;
}

/* line 123, ../sass/sass_files/_components.scss */
.btn-primary__join:hover {
  color: #250d33 !important;
}

/* line 127, ../sass/sass_files/_components.scss */
#footer {
  display: block;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.87);
}
/* line 131, ../sass/sass_files/_components.scss */
#footer ul {
  display: inline-block !important;
}
/* line 134, ../sass/sass_files/_components.scss */
#footer a {
  color: rgba(255, 255, 255, 0.54) !important;
  font-size: 18.2px;
  font-style: normal;
  padding: 8px;
  text-align: center !important;
}
/* line 141, ../sass/sass_files/_components.scss */
#footer h3 {
  font-style: bold;
  font-weight: 300;
  font-size: 16.8px;
  color: #ef6249;
  padding: 24px;
}
/* line 149, ../sass/sass_files/_components.scss */
#footer p {
  padding-top: 24px;
  color: rgba(255, 255, 255, 0.54) !important;
  font-size: 16.8px;
}
@media (min-width: 1024px) {
  /* line 157, ../sass/sass_files/_components.scss */
  #footer .row__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
}

/* line 166, ../sass/sass_files/_components.scss */
.footer-nav {
  text-align: center;
}

/* line 169, ../sass/sass_files/_components.scss */
.float {
  padding: 0 !important;
}

/* line 172, ../sass/sass_files/_components.scss */
.fh5co-copyright {
  text-align: center;
  font-size: 16.8px;
}
